html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header {
  height: 12vh;
  background-color: rgb(159, 168, 218) !important;
  display: flex;
  align-items: center;
}

header h3 {
  margin: 0 0 0 1rem;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

main {
  height: 85vh;
  font-family: "Roboto Mono", monospace;
  display: flex;
  margin: 0 !important;
}

footer {
  height: 3vh;
}

input {
  font-family: "Rubik", sans-serif !important;
}

.input-field input[type="text"]:focus {
  border-bottom: 2px rgb(159, 198, 218) solid !important;
  box-shadow: none !important;
  transition: none;
}

.collection {
  border: none !important;
}

.collection-item {
  font-family: "Rubik", sans-serif !important;
  font-style: 400 !important;
  letter-spacing: 0.05rem;
  overflow: hidden;
  border: 1px solid #e0e0e0 !important;
}

.btn {
  background-color: rgb(159, 198, 218) !important;
}

.search-history {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 75%;
}

li {
  cursor: pointer;
}

li:hover {
  background-color: rgb(159, 168, 218) !important;
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.weather {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  gap: 0.5rem;
}

.weather-info {
  height: 50%;
  width: 100%;
  border: 3px solid rgb(180, 159, 218);
  padding-left: 1rem;
  margin: 0 !important;
  box-sizing: border-box;
}

.fade-panel {
  display: none;
  width: 100%;
  height: 100%;
}

.containerW {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.containerW > p {
  flex-grow: 2;
}

.uvSpan {
  padding: 0 1rem;
  border-radius: 0.25rem;
}

.weather-info h4 {
  height: 43%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.weather-info * {
  margin: 0;
}

.five-day {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  border: 3px solid rgb(159, 198, 218);
}

.day {
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1.5rem 0;
  opacity: 0;
  width: 18%;
  height: 80%;
  background-color: rgb(159, 198, 218);
}

.fade-in-day {
  opacity: 0;
  -webkit-animation: fadeIn 1000ms;
  animation: fadeIn 1000ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.fade-out-day {
  opacity: 1;
  -webkit-animation: fadeOut 1000ms;
  animation: fadeOut 1000ms;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

.day p {
  margin: 0 !important;
  height: 16%;
}

.day img {
  width: 25%;
  height: auto;
}

.fade-in-day:nth-child(5n + 1) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.fade-in-day:nth-child(5n + 2) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.fade-in-day:nth-child(5n + 3) {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.fade-in-day:nth-child(5n + 4) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.fade-in-day:nth-child(5n + 5) {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-out-day:nth-child(5n + 1) {
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}

.fade-out-day:nth-child(5n + 2) {
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}

.fade-out-day:nth-child(5n + 3) {
  -webkit-animation-delay: 600ms;
  animation-delay: 600ms;
}

.fade-out-day:nth-child(5n + 4) {
  -webkit-animation-delay: 800ms;
  animation-delay: 800ms;
}

.fade-out-day:nth-child(5n + 5) {
  -webkit-animation-delay: 1000ms;
  animation-delay: 1000ms;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 2rem;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 900px) {
  header {
    height: 8vh;
    justify-content: center;
  }

  main {
    height: 89vh;
    flex-direction: column;
  }

  .search {
    height: 10%;
    width: 100%;
    box-sizing: border-box;
  }

  .input-field {
    width: 90%;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .weather {
    height: 90%;
  }

  .weather-info {
    height: 50%;
  }

  input[type="text"]::placeholder {
    padding-left: 10px;
  }

  .five-day {
    flex-direction: column;
    height: 50%;
  }

  .day {
    flex-direction: row;
    width: 100%;
    height: 20%;
  }

  .day img{
      width: 20%;
  }

  footer {
    justify-content: center;
  }
}